.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: var(--border-radius);
  background-color: white;
  padding: 1rem;
  box-shadow: (var(--box-shadow));
}
.date {
  display: inline-block;
  height: 100%;
  border-right: 2px solid var(--color-gray);
  padding-right: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.name {
  font-weight: 500;
}
.speciality {
  color: var(--primary-color);
}
.buttons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.complete {
  background-color: var(--color-green);
}
