.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: (var(--box-shadow));
}
.title {
  font-weight: 600;
}
.confirm {
  background-color: var(--color-green);
}
